/** Universal **/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

html {
    font-size: 16px;
    font-family: "Montserrat", "Arial", sans-serif;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

p {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

/** Navigation **/
header {
    position: fixed;
    width: 100%;
    height: 4rem;
    background-color: white;
    z-index: 1;
}

header .mobile {
    display: none;
}

.navbox {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex: 1;
    align-items: center;
    height: 2rem;
    padding: 1rem 0 1rem 1.5rem;
}

.logo img {
    
}

header nav ul {
    display: flex;
}

nav li {
    padding-left: 1rem;
}

nav {
    padding-right: 1.5rem;
}

.bold {
    font-weight: bold;
}

/** Jumbotron **/
.jumbo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: gainsboro;
}

.jumbo .image-container {
    width: 60%;
    padding: 2rem 1.5rem;
    margin-top: 4rem;    
}


.jumbo .container {
    width: 25%;
}

.button {
    width: 100%;
    padding: 1rem 0;
    margin: 0 auto;
    color: white;
    text-align: center;
    background-color: #333333;
}

.jumbo h1 {
    font-size: 2.3rem;
    font-weight: 700;
}

.jumbo p {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
}

/** Featured Content **/

.featured-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main-feature {
    width: 60%;
    margin-left: 1.5rem;
}

.main-feature .info {
    width: 100%;  
    margin-top: 2rem;
}

.main-feature p {
    margin-top: 1.5rem;
}

.main-feature h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

.sub-features {
    width: 40%;
    margin-left: 1.5rem;
}

.sub-features .image-container {
    width: 35%;
}

.sub-features .info {
    width: 65%;
    margin-left: 1rem;
}

.sub-features .container {
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.sub-features .container:last-child {
    background-color: gainsboro;
}

.sub-features p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.sub-features a {
    font-weight: 300;
    color: cornflowerblue;
}

/** Learn **/

.learn {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: #eaebec;
}

.learn h3 {
    margin-bottom: 0.5rem;
}

.learn p {
    margin-top: 0.5rem;
}

.rowone, .rowtwo {
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin: 2rem 4.5rem;
}

.rowone .container, .rowtwo .container {
    width: 30%;
    background-color: white;
}

.rowone img, .rowtwo img {
    height: auto;
}

.rowone .info, .rowtwo .info{
    padding: 1rem 1rem 1.5rem 1rem;
    background-color: white;
}

/** Thesis **/

.thesis {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
}

.thesis-content {
    display: flex;
    padding-top: 2rem;
    padding-left: 1.5rem;
}

.video-container {
    width: 100%; 
    padding-bottom: 1.5rem;
}

.thesis .container {
    width: 60%;
}

.thesis p {
    margin-top: 0.5rem;
}

.thesis-features {
    width: 40%;
    margin-left: 1.5rem;
}

.thesis-features .image-container {
    width: 35%;
}

.thesis-features .info {
    width: 65%;
    margin-left: 1rem;
}

.thesis-features .container {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
}

.thesis-features .container:first-child {
    background-color: gainsboro;
}

/** Footer **/

footer {
    padding: 1rem 1.5rem;
}

footer .container {
    display: flex;
    font-size: 0.75rem;
}

footer .copyright {
    flex-grow: 1;
}

.footlinks {
}